html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 10px;
}

main {
    flex-grow: 1;
}


}

.pagination {
    margin-top: 20px;
    padding: 10px 0;
    z-index: 1;
    position: relative;
}

.card-img-top {
    height: 200px;
    object-fit: scale-down;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    }
